/* Welcome.css */

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f8f8;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .login-register-container {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    margin-bottom: 10px; /* Add space between buttons */
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Additional styles for the register form */
  .welcome input[type="email"],
  .welcome input[type="password"] {
    margin-bottom: 10px;
  }
  
  .welcome button:nth-child(2) {
    background-color: #28a745;
    margin-top: 10px; /* Add space between buttons */
  }
  
  .welcome button:nth-child(2):hover {
    background-color: #218838;
  }
  